body{
	background: url(../img/photo.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);*/
@import url('https://fonts.googleapis.com/css?family=Mali');

blockquote {
  position: relative;
  font-size: 25px;
  line-height: 30px;
  margin-top: 2em;
  min-height: 200px;
  font-family: 'Mali', cursive;
  text-align: center;
}

blockquote span {
  display: block;
  font-size: 20px;
  line-height: 10px;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: 'Mali', cursive;
  color: aqua;
}
p{
	color: #f2f2f2;

}
.button {
  text-align: center;
}
.random-button {
  padding: 10px 15px;
  font-size: 15px;
  color: #676767;
  border: 1px dashed #e78a8a;

}
.clock{
  font-size: 7em;
  color: #fff;
  font-weight: 600;
}

.todo-text{
	padding: 10px 40px;
	border-bottom: 3px solid black;
	background: transparent;
}

.wrapper{
	/*max-width: 1100px;*/
	width: 20%;
 	/*margin: 0 auto;*/
 	float: left;
 	margin-top: 0;
 	position: absolute;
 	top: 11%;
}




h1{
	/*margin-top: 3em;*/
	font-weight: 500;
	font-size: 3em;
	margin: 0;
	text-align: center;
	color: #fff;
}
h2{
	font-size: 4em;
	color: #fff;
	text-transform: capitalize;
}
.checkedid{
	text-decoration: line-through;
	color: #666;
}

li {
	padding-bottom: 1em;
	border-bottom: 1px solid grey;
	width: 100%;
	list-style: none;
	color: #fff;
	font-size: 2em;
}


ul {
	-webkit-padding-start: 0px;
}
.todo-text {
	margin-top: 15px;
	border: 1px solid #fff;
	width: 70%;

	outline: none;
	/*border-bottom: 2px solid grey;*/
	background: transparent;
	border-radius: 7px;

}

.delete{
	float: right;
	margin-top: 1.5em;
	margin-right: 1em;
	background: transparent;
	border: none;
	cursor: pointer;
	color: aqua;
	/*display: none;*/
}


.anchor{
	color: #222;
	text-decoration: none;
}
.anchor:hover{
	text-decoration: underline;
}
.border{
	border: 1px solid transparent;
}

.footer {
	margin-top: 10px;
}

.style_completed{
	padding: 5px;
	border-radius: 5px;
	margin: 7px;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	}
	.anchor{
		border: 1px solid white;
		color: white;
		padding: 4px;
		border-radius: 4px;
	}
	.counting{
		border: 1px solid white;
		padding: 3px;
		border-radius: 4px;
		color: white;
	}

/*.style_completed:hover{
	border: 1px solid rgba(175,47,47);
	cursor: pointer;
}*/
.todo {
	list-style: none;
	margin: 0;
}

input[type=checkbox] {
	height: 15px;
	width: 15px;
	margin-top: 20px;
}

.prompt-name{
	padding: 10px 80px;
	margin-top: 2em;
	border-radius: 8px;
	border: none;
	outline: none;
}

.question{
	font-size: 2.5em;
	color: #fff;

}
.secondary-container{
	margin-top: 10em;
	text-align: center;
	/*display: grid;
	grid-template-columns: repeat(2, 1fr);*/
}

.quote{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.greeting{
	text-align: center;
	color: #fff;
	font-size: 40px;
	padding: 10px 0;
}